@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<ul>
    <li><a asp-controller="Trucks" asp-action="Index">Manage Trucks</a></li>
    <li><a asp-controller="UserManagement" asp-action="Index">Manage Users</a></li>
</ul>
