@{
    ViewData["Title"] = "About";
}

<h2>About SteelHorse Trucks</h2>
<p>
    

    SteelHorse Trucks is a division of Delta Team, focused on the sale of small and medium-sized trucks to meet the needs of the transportation, construction, and logistics markets. Headquartered in Windsor, Ontario, the company was created to provide robust and reliable solutions for small and medium-sized businesses seeking high-durability vehicles with operational efficiency.

    The story of SteelHorse Trucks begins with three visionary friends and entrepreneurs: Akhil Sivan, Vishal Sharma, and Victor Begnini. Originally from India and Brazil, they came to Canada to study and quickly identified an opportunity in the commercial vehicle sector. Combining their expertise in engineering, technology, and business, they decided to found SteelHorse Trucks, developing a specialized catalog of versatile and cost-effective trucks.

    Our commitment is to provide high-quality vehicles at affordable prices, helping businesses expand their operations safely and efficiently.
</p>
